#application-content-container div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 2rem;
  margin-top: 1rem;
}

#application-content-container p{
  line-height: 2rem;
}

#application-content-container h1{
  margin-top: 2rem;
  margin-left: 2rem;
}


.button-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-container a{
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 120px;
  width: 11em;
  height: 3.5em;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*PERSONAL INFO*/
.application-form{
  margin-top: 3rem;
}

.application-form label{
  font-size: 2rem;
  font-weight: 600;
}


.application-form-main-container{
}

.application-form-content-first-row {
  margin-bottom: 20px;
  margin-left: 1.75rem;
}

.application-form-content-first-row div{
  padding: 0px !important;
}


#category-dropdown {
  width: 700px;
  height: 60px;
  padding: 0rem 1.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: gray;
}

.application-form-content-second-row {
}

.application-form-content-second-row .personal-info-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.application-form-content-second-row input,
#grade-level {
  width: calc(25% - 10px); 
  height: 60px;
}

#school-name-field {
  width: calc(50% - 10px); 
}

/*FOOTER*/

.personal-info-form-footer{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 120px;
  left: 260px;
  right: 25px;
}

.personal-info-form-footer div{
  display: flex;
  flex-direction: row !important; 
}

.personal-info-form-footer div a{
  background-color: #fff;
}


.application-form-next-button,
.application-form-back-button{
  width: 11em;
  height: 3.5em;
  border-radius: 120px;
  gap: 2rem;
}


/*family*/
#family-info-form{
  margin: 0px;
}

#family-info-form h1{
  padding-left: 3.5rem; 
  font-size: 3rem;
}

/*CONTACT INFO PAGE*/
.program-contact-info-container{

}

.application-form-content-first-row div{
  display: flex;
  flex-direction: row !important;
}

.application-form-content-first-row div input{
  width: 360px;
  height: 60px;
}


/*DOCUMENT SUBMISSION*/
#document-list-container{
  padding: 0rem 2rem 0rem 2rem;
}

.document-list-table{
  height: 580px;
  border-radius: 20px;
  border: 2px black solid;
  margin: 0px !important;
  padding: 0px !important;
}

.document-list-table header{
  border: 2px black solid;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  border: none;
  padding: 0rem 2rem 1rem 1rem;
  margin-bottom: -18px !important;
}

.document-list-table header div{
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.document-list-content{
  height: 500px;
  margin: 0px !important;
  padding: 0px !important;
  border-top: 2px black solid;
  overflow-y: auto;
}

.document-content-card{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

#application-document-name{
  max-width: 650px;
  font-weight: 600;
}

.document-content-card p{
  font-size: 1.25rem;
}

.document-content-card div{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 100px !important;
  height: 100%;
  margin-top: 0px !important;
}

.document-content-card button, .application-file-status{
  width: 136px;
  height: 50px;
  border-radius: 20px;
}

#file-input {
  display: none; 
}