#profileForm{
  width: 95%;
  height: 97%;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.profile-form-first-row{
  display: flex;
}

/*IMAGE CONTAINER STYLES*/
.profile-form-image-container{
  display: inline-block;
  align-items: center; 
}

.profile-form-image-container img{
  width: 360px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.profile-form-image-container div{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

/*BUTTON FOR UPLOADE NEW PICT AND PASSWORD*/
.profile-form-image-container button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 27px;
  border: none;
  gap: 0.75rem;
  font-size: 12px;
  border-radius: 5px;
}

.profile-form-image-container button:hover
{
  transition: 0.5s all ease-in-out;
  box-shadow: var(--box-shadow);
}

.profile-form-image-container button img{
  width: 22px;
  height: 22px;
  object-fit: contain;
  border-radius: 0px;
  box-shadow: none;
}

/*INPUT*/
fieldset{
  border: none;
  margin-left: 3rem;
  margin-top: 1rem;
}

legend{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

fieldset div{
  margin-left: 2rem;
}

fieldset input{
  width: 249px;
  height: 50px;
  padding: 0rem 1.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#place-of-birth-field{
  width: 514px;
  height: 55px;
}

.field-row{
  display: flex;
  margin: 0px;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.field-row div{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

/*ADDRESS FIELDS*/
.address-field-row{
  display: flex;
  gap: 0px;
  margin: 0px;
}

.address-field-row div{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.permanent-address-fields{
  margin: 0px;
  margin-bottom: 2rem;
}

.permanent-address-fields div{
  margin: 0px;
  display: flex;
  gap: 1rem;
}

.permanent-address-fields div input{
  width: 352px;
  height: 55px;
  margin: 0px;
}

.permanent-address-fields .full-address-container{
  display: flex;
  flex-direction:column;
  margin-bottom: 1.5rem;
}

.permanent-address-fields .full-address-container input{
  width: 91rem;
}

/*PROFILE FORM FOOTER*/
.profile-form-footer, .family-profile-form-footer, .school-profile-form-footer{
  margin-top: 95px;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
}

#my-profile-update-button, #my-profile-back-button, .my-profile-next-button{
  border-radius: 120px;
  width: 11em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


/***************************************************************************************************************/
/***** CHANGE PASSWORD STYLES **********************************************************************************/
/***************************************************************************************************************/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#change-password-popup{
  visibility: hidden;
  width: 700px;
  height: 468px;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 45%;
  left: 56%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}

/*not including submit kasi button yon*/
#change-password-popup input:not([type="submit"]) {
  border-radius: 4px;
}

#change-password-popup label{
  font-weight: 600;
} 

/*container that contains label and input*/
.change-password-field-container{
  margin-left: 5rem;
  display: flex;
  gap: 7rem;
  align-items: center;
}

/*BUTTONS(CHANGE PASS[BACK, SUBMIT])*/
.button-container{
  margin-top: 20px;
  margin-left: 43%;
}

.change-pass-back-button, .change-pass-submit-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  width: 11em;
  height: 3.5em;
}

/***************************************************************************************************************/
/***** UPLOAD NEW PICTURE STYLES *******************************************************************************/
/***************************************************************************************************************/
#upload-new-pic-popup{
  visibility: hidden;
  width: 700px;
  height: 163px;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 45%;
  left: 56%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#upload-new-pic-popup div{
  text-align: center;
}

.new-pic-back-btn-container{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#upload-new-pic-popup .new-pic-back-button{
  width: 32px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-new-pic-popup button img{
  width: 13.62px;
  height: 13.62px;
}

#choose-photo-btn{
  border-radius: 120px;
  width: 146.656px;
  height:  46.6562px;
}

/***************************************************************************************************************/
/***** PAGE 2 ************************************************************************************/
/***************************************************************************************************************/
h2{
  font-size: 2.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

.family-profile-form-first-row{
  margin: 0px;
}

.family-profile-form-first-row input, .mother-profile-firt-row input{
  margin: 0px;
  width: 360px;
  height: 50px;
  margin-top: 0.5rem;
}

.family-profile-form-first-row legend, .mother-profile-firt-row legend{
  margin-bottom: 1rem;
}


.family-profile-form-footer div, .school-profile-form-footer div{
  display: flex;
  gap: 1rem;
}

/*PAGE 3*/
#my-profile-back-button{
  justify-content: space-evenly;
  color: black;
}

#current-school-field, #school-address-field{
  width: 720px;
}

#grade-level {
  width: 360px; 
  height: 50px;
  border-radius: 4px; 
  margin-top: 0.5rem;
}

#grade-level option {
  font-size: 1rem; 
  padding: 0.5rem; 
}

.school-profile-form-footer{
  margin-top: 26%;
}