@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

select {
  outline: none;
}

:root {
  /* Colors */
  --green: #2D582A;
  --placeHolder: #A19898;
  --bg: #E8E8E8;
  --yellow: #EDE7BB;
  --blue: #032447;
  --gray: #545454;
  --input-text-color: #f3f4f6;
  --category-cards: #EDE7BB;

  /*button states*/
  --button-active-state: #D9D9D9;
  --blue-button-hover: #094584;
  --button-hover-scale: scale(1.05); 
  --nav-hover-active-state: rgba(217, 217, 217, 0.21);

  /* Shadow */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --inner-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  /*SIZES*/

  /*LP INPUT SIZES*/
  --lp-input-width: 16.5rem;
  --lp-input-height: 3.863rem;
  --lp-header-font-size: 1.5rem;
}
