.main-container{
  position: relative;
}

#layout-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 14rem;
  height: 4.625rem;
  background-color: var(--blue);
}

.main-container footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 14rem;
  height: 4.625rem;
  background-color: var(--green);
}

/* SIDEBAR STYLES*/
#sidebar{
  position: fixed;
  background-color: var(--gray);
  left: 0;
  top: 0;
  bottom: 0;
  width: 14.813rem;
  color: white;
  gap: 1.5rem;
  z-index: 10;
}

.sidebar-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1.25rem;
  display: inline-flex;
  margin: 1rem 1rem;
}

.sidebar-header img{
  height: 37px;
  width: 154px;
}

.notification-container{
  border-radius: 100%;
  height: 43px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-container img{
  width: 20.35px;
  height: 23px;
}

.sidebar-user-profile{
  display: flex;
  gap: 1.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
}
.sidebar-user-profile div{
  text-align: start;
  line-height: 1.5rem;
}

hr{
  margin-top: 2rem;
  width: 85%;
  margin-left: 0.75rem;
}

.sidebar-user-profile-left-container{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

/*side bar navs*/
.sidebar-nav{
  z-index: 15;
  pointer-events: auto;
}

.sidebar-nav a{
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.sidebar-nav a:hover, .sidebar-user-profile:hover, .notification-container:hover{
  transition: 0.5s all ease-in-out;
  background-color: var(--nav-hover-active-state);
}


/*CONTENT CONTAINER*/
#content-container, #application-content-container {
  width: 102rem;
  height: 51rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 5.6rem; 
  margin-right: auto; 
  display: flex;
  flex-direction: column;
  margin-left: 259px;
  /* padding: 2rem; */
}

/* Footer Content Container Styles*/
.content-container-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 10rem;
  margin-top: auto; 
  padding: 0 2rem; 
}

.pagination-status-container {
  font-size: 1.75rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button-container button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 120px;
  width: 11em;
  height: 3.5em;
}

.nextBtn {
  background-color: var(--green);
  border: none;
  color: white;
}

.backBtn {
  border: 3px var(--green) solid;
  background-color: transparent;
  color: black;
}

.nextBtn:hover, .backBtn:hover {
  transition: 0.5s all ease-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.logout-button{
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-top: 15rem;
}


 /* DROPDOWN MENU STYLES (My Profile & Logout)*/
 #dropdown {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6%;
  left: 13.5%;
  background-color: var(--gray);
  color: white;
  border-radius: 15px;
  width: 180px;
  height: 100px;
  box-shadow: var(--box-shadow);
  z-index: 100;
}

#dropdown a {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
}

#dropdown a:hover {
  transition: all 0.5s ease-in-out;
  background-color: #333;
}
