body, .main-container {
  display: flex;
  overflow-y: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.image-container {
  width: 1082px; 
  height: 1080px;
  
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding-top: 5%;
  background-color: #f9f9f9;
}

.form-content {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.email-field, .password-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.25rem;
}

input[type="text"], input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f3f4f6; 
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #aaa;
}

a {
  color: var(--blue);
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

button.login-btn {
  width: 100%;
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 0.75rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

button.login-btn:hover {
  background-color: #163171; 
}

p {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 1rem;
}

#create-account {
  font-weight: bold;
}
